
<div class="vgs-main-about-body">
	<div class="container ">
	<div class="vgs-aboutus-content">
		<div class="vgs-aboutus-widget">
			<div class="row">
				<div class="col-sm-3 col-xs-3">
					<div class="vgs-all-schools-widgets ">
						<div class="vgs-profile1"></div>
					</div>	
				</div>
				<div class="col-sm-9 col-xs-9">
					<h3>Dr. Chukka Ramaiah</h3>
					<p>Educational System should venture to build the system which connects the present to the future And students have to focus on improve their imagination by going to the deep roots of societies and cultures through reading various novels and books. Hence this understanding drives them to be creative and cognitive. Finally the innovations come from dreams of creative beings whose imagination bonded with culture.</p>
					<p>Schools have to enrich of the environment  in this cognitive journey. Teachers should not be in a Trans of techie mode instead always in learnic mode and lead the student as living example. The ultimate goal of education should try fill the student minds with "Empathy", "Problem Solving", “Innovations without forgetting the roots of the one's own culture.</p>
				</div>
			</div>
		</div>	
		<div class="vgs-aboutus-widget">
			<div class="row">
				<div class="col-sm-3 col-xs-3">
					<div class="vgs-all-schools-widgets ">
						<div class="vgs-profile2"></div>
					</div>	
				</div>
				<div class="col-sm-9 col-xs-9">
					<h3>Sri. E. Linga Reddy </h3>
					<p>Education is not merely acquirement of facts but also of values which help us improve the different facets of mankind. It ensures that we leave the world a far better place than we found it. A pivotal role of education lies in shaping the personality of a child into a healthy mind and happy soul, who is not only equipped with 21st century skills and aptitude required for academic excellence but helping him face the challenges of life in a balanced and harmonious way. Therefore, the system of education should work as a catalyst in making each child a balanced human being having his core strengths embedded in the learning experiences emanating from our rich socio-cultural roots.</p>
				</div>
			</div>
		</div>
		<div class="vgs-aboutus-widget">
			<div class="row">
				<div class="col-sm-3 col-xs-3">
					<div class="vgs-all-schools-widgets ">
						<div class="vgs-profile3"></div>
					</div>	
				</div>
				<div class="col-sm-9 col-xs-9">
					<h3>Sri. N. Jagdeesh Reddy</h3>
					<p>In Vasavi High school , we enterprise to map academic excellence with a good human value system, which in myriad ways is ingrained in the culture of the school. To achieve this, we strongly feel that a paradigm shift in the minds of all stakeholders should take place so that when the school becomes the hub to initiate and formalize education it has its tenets enshrined in a good value system; the extension of which is thereby taken home where it is further strengthened. And our commitment to such education will always persist in all our endeavors.</p>
					<p>In this pursuit of excellence, I appreciate our parent fraternity for supporting the school in every aspect. I also laud the relentless efforts of our teachers for giving their best in bringing out the best in each child. But I would exhort the students to be always modest, humble and disciplined, while being ready to expand the horizons of their knowledge and skills by dreaming big and working hard.</p>
				</div>
			</div>
		</div>
		<div class="vgs-aboutus-widget">
			<div class="row">
				<div class="col-sm-3 col-xs-3">
					<div class="vgs-all-schools-widgets ">
						<div class="vgs-profile4"></div>
					</div>	
				</div>
				<div class="col-sm-9 col-xs-9">
					<h3>Sri. E. Potha Reddy</h3>
					<p>Vasavi group of schools are conceptualized with the intention to ensure quality that is affordable & consistent with the school vision of empowering the rural community. The facilities that we offer truly underscore our passion in promoting the message of enlightenment that defines our motto. Our vision is based in hardwork, open communication, a strong emphasis on teamwork and high level responsibility.</p>
					<p>Our institutions has set specific objective and planned activities for achieving excellence in all spheres of technical education. Our dedicated and experienced teachers work to design creative lessons that taps each students natural curiosity and desire to learn.</p>
					<p>We are hopeful that our modest attempts will lead us to an experience that’s enriching & further our resolve in creating a knowledge society for a better tomorrow.</p>
				</div>
			</div>
		</div>
		</div>
	</div>
	</div>