<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 vgs-quick-links" >
			  <li><a href="#" target="_blank">Careers</a></li>
			  <li><a href="#" target="_blank">Enquiry</a></li>
			  <li><a href="#" target="_blank">Resources</a></li>
			  <li><a href="#" target="_blank">Reach Us</a></li>
			</div>	
			<div class="col-sm-6 vgs-follow">
				<li>Follow Us On:</li>
				<li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
				<li class="pull-right">&copy CopyRights 2017 Vasavi Group.All Rights Reserved</li>
			</div>
		
		</div>	
	</div>	
</div>
<script src="assets/js/main.js"></script>
<script>
var start = 1900;
var end = new Date().getFullYear();
var options = "";
options +="<option value=''>--Select Year--</option>";  
for(var year = start ; year <=end; year++){
  options += "<option value="+ year +">"+ year +"</option>";
}
$('.year').append(options);


$(window).scroll(function () {
    if( $(window).scrollTop() > $('#header-2').offset().top && !($('#header-2').hasClass('posi'))){
    $('#header-2').addClass('posi');
    } else if ($(window).scrollTop() == 0){
    $('#header-2').removeClass('posi');
    }
});

 (function($) {
    var element = $('.follow-scroll'),
        originalY = element.offset().top;
    
    // Space between element and top of screen (when scrolling)
    var topMargin = 120;
    
    // Should probably be set in CSS; but here just for emphasis
    element.css('position', 'relative');
    
    $(window).on('scroll', function(event) {
        var scrollTop = $(window).scrollTop();
        
        element.stop(false, false).animate({
            top: scrollTop < originalY
                    ? 0
                    : scrollTop - originalY + topMargin
        }, 500);
    });
})(jQuery);


</script>

</body>
</html>