<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vasavi Official website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/simple-line-icons.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400|Lato:400" type="text/css"> <!-- Google Fonts used-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> <!-- Google Roboto Fonts used-->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link href="assets/css/styles.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet prefetch" href="assets/css/ybgpzy.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="assets/js/ybgpzy.js"></script>
</head>
<body>
<div class="vgs-top-header" id="header-wrap">
	<div class="container ">
		<div class="row ">
			<div class="col-sm-2 col-xs-2">
				<div class="pull-left" style="padding-top:8px">
					<img src="../assets/images/Vasavi_logo.jpg" class="img-responsive img-circle" width="50%" alt="vasavi logo">
				</div>
			</div>
			<div class="col-sm-8 col-xs-8">
				<h1>VASAVI GROUP OF SCHOOLS</h1>
				<p>Nirmal, Telangana, India, 504106</p>
			</div>
			<div class="col-sm-2 col-xs-2">
				<div class="" style="padding-top:8px">
					<img src="assets/images/vasavi_school_logo.jpg" class="img-responsive pull-right img-circle" width="50%" alt="vasavi logo">
				</div>
			</div>
		</div>
	</div>	
</div>
<nav class="navbar navbar-inverse navbar " id="header-2">
<div class="container">
  <div class="navbar-header">
    
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <!--<span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>-->
	  Menu
    </button>
  </div>
  <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

		<% if (act_state === "home") { %> 
			<li class="active"><a href="/">Home</a></li>	
		<% } else {%>
			<li><a href="/">Home</a></li>
		<% } %>		

		<% if (act_state === "admission") { %> 
			<li class="active"><a href="admission">Admission</a></li>
		<% } else {%>
			<li><a href="admission">Admission</a></li>
		<% } %>
		
		<% if (act_state === "academicprograms") { %> 
			<li class="active"><a href="academicprograms">Academic Programs</a></li>
		<% } else {%>
			<li><a href="academicprograms">Academic Programs</a></li>
		<% } %>
		
	  <% if (act_state === "gallery") { %> 
			<li class="active"><a href="gallery">Gallery</a></li>
		<% } else {%>
			<li><a href="gallery">Gallery</a></li>
		<% } %>

	  <% if (act_state === "resources") { %> 
			<li class="active"><a href="resources">Resources</a></li>
		<% } else {%>
			<li><a href="resources">Resources</a></li>
		<% } %>

	  <% if (act_state === "careers") { %> 
			<li class="active"><a href="careers">Careers</a></li>
		<% } else {%>
			<li><a href="careers">Careers</a></li>
		<% } %>

		<% if (act_state === "aboutus") { %> 
			<li class="active"><a href="aboutus">About us</a></li>
		<% } else {%>
			<li><a href="aboutus">About us</a></li>
		<% } %>

		<% if (act_state === "login") { %> 
			<li class="active"><a href="login">Login</a></li>
		<% } else {%>
			<li><a href="login">Login</a></li>
		<% } %>

	</ul>
	
	<form class="navbar-form vgs-pull-right" action="">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
	  <span style="display:none;">
		<button type="submit" class="btn btn-default">Submit</button>
	  </span>
		</form>
			<!-- Flash messages -->
	<% if(error && error.length > 0){ %>
		<div class="alert alert-danger alert-dismissable" role="alert">
			<%= error %>
			<a href="#" class="close" data-dismiss="alert" title="close">×</a>
		</div>
	<% } %>
	<% if(success && success.length > 0){ %>
		<div class="alert alert-success alert-dismissable" role="alert">
			<%= success %>
			<a href="#" class="close" data-dismiss="alert" title="close">×</a>
		</div>
	<% } %>
  </div>
</div> 
</nav>