<nav class="navbar navbar-inner ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              Menu
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">

                <% if (act_state === "highschool-home") { %> 
                  <li class="active"><a href="highschool-home">Vasavi High School</a></li>	
                <% } else {%>
                  <li><a href="highschool-home">Vasavi High School</a></li>
                <% } %>	

                <% if (act_state === "highschool-scholastic") { %> 
                  <li class="active"><a href="highschool-scholastic">Scholastic</a></li>	
                <% } else {%>
                  <li><a href="highschool-scholastic">Scholastic</a></li>
                <% } %>	

                <% if (act_state === "highschool-co-scholastic") { %> 
                  <li class="active"><a href="highschool-co-scholastic">Co-Scholastic</a></li>	
                <% } else {%>
                  <li><a href="highschool-co-scholastic">Co-Scholastic</a></li>
                <% } %>	

                <% if (act_state === "highschool-facilities") { %> 
                  <li class="active"><a href="highschool-facilities">Facilities</a></li>	
                <% } else {%>
                  <li><a href="highschool-facilities">Facilities</a></li>
                <% } %>	

                <% if (act_state === "highschool-achievements") { %> 
                  <li class="active"><a href="highschool-achievements">Achievements</a></li>	
                <% } else {%>
                  <li><a href="highschool-achievements">Achievements</a></li>
                <% } %>	

                <% if (act_state === "highschool-parent-portal") { %> 
                  <li class="active"><a href="highschool-parent-portal">Parent Portal</a></li>	
                <% } else {%>
                  <li><a href="highschool-parent-portal">Parent Portal</a></li>
                <% } %>
                
                <% if (act_state === "highschool-resources") { %> 
                  <li class="active"><a href="highschool-resources">Resources</a></li>	
                <% } else {%>
                  <li><a href="highschool-resources">Resources</a></li>
                <% } %>

            </ul>
          </div>
        </div> 
        </nav>