<nav class="navbar navbar-inner ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              
              <% if (act_state === "icon-home") { %> 
                <li class="active"><a href="icon-home">Vasavi Icon</a></li>	
              <% } else {%>
                <li><a href="icon-home">Vasavi Icon</a></li>
              <% } %>	

              <% if (act_state === "icon-scholastic") { %> 
                <li class="active"><a href="icon-scholastic">Scholastic</a></li>	
              <% } else {%>
                <li><a href="icon-scholastic">Scholastic</a></li>
              <% } %>	

              <% if (act_state === "icon-co-scholastic") { %> 
                <li class="active"><a href="icon-co-scholastic">Co-Scholastic</a></li>	
              <% } else {%>
                <li><a href="icon-co-scholastic">Co-Scholastic</a></li>
              <% } %>	

              <% if (act_state === "icon-facilities") { %> 
                <li class="active"><a href="icon-facilities">Facilities</a></li>	
              <% } else {%>
                <li><a href="icon-facilities">Facilities</a></li>
              <% } %>	

              <% if (act_state === "icon-achievements") { %> 
                <li class="active"><a href="icon-achievements">Achievements</a></li>	
              <% } else {%>
                <li><a href="icon-achievements">Achievements</a></li>
              <% } %>	

              <% if (act_state === "icon-parent-portal") { %> 
                <li class="active"><a href="icon-parent-portal">Parent Portal</a></li>	
              <% } else {%>
                <li><a href="icon-parent-portal">Parent Portal</a></li>
              <% } %>
              
              <% if (act_state === "icon-resources") { %> 
                <li class="active"><a href="icon-resources">Resources</a></li>	
              <% } else {%>
                <li><a href="icon-resources">Resources</a></li>
              <% } %>

            </ul>
          </div>
        </div> 
        </nav>