<nav class="navbar navbar-inner ">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">

          <% if (act_state === "iris-index") { %> 
            <li class="active"><a href="iris-home">Vasavi Iris Florets</a></li>	
          <% } else {%>
            <li><a href="iris-home">Vasavi Iris Florets</a></li>
          <% } %>	

          <% if (act_state === "iris-scholastic") { %> 
            <li class="active"><a href="iris-scholastic">Scholastic</a></li>	
          <% } else {%>
            <li><a href="iris-scholastic">Scholastic</a></li>
          <% } %>	

          <% if (act_state === "iris-co-scholastic") { %> 
            <li class="active"><a href="iris-co-scholastic">Co-Scholastic</a></li>	
          <% } else {%>
            <li><a href="iris-co-scholastic">Co-Scholastic</a></li>
          <% } %>	

          <% if (act_state === "iris-facilities") { %> 
            <li class="active"><a href="iris-facilities">Facilities</a></li>	
          <% } else {%>
            <li><a href="iris-facilities">Facilities</a></li>
          <% } %>	
          
        </ul>
      </div>
    </div> 
    </nav>