<nav class="navbar navbar-inner ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
             
              <% if (act_state === "primary-index") { %> 
                <li class="active"><a href="primary-home">Vasavi Primary</a></li>	
              <% } else {%>
                <li><a href="primary-home">Vasavi Primary</a></li>
              <% } %>	

              <% if (act_state === "primary-scholastic") { %> 
                <li class="active"><a href="primary-scholastic">Scholastic</a></li>	
              <% } else {%>
                <li><a href="primary-scholastic">Scholastic</a></li>
              <% } %>	

              <% if (act_state === "primary-co-scholastic") { %> 
                <li class="active"><a href="primary-co-scholastic">Co-Scholastic</a></li>	
              <% } else {%>
                <li><a href="primary-co-scholastic">Co-Scholastic</a></li>
              <% } %>	

              <% if (act_state === "primary-facilities") { %> 
                <li class="active"><a href="primary-facilities">Facilities</a></li>	
              <% } else {%>
                <li><a href="primary-facilities">Facilities</a></li>
              <% } %>	

              <% if (act_state === "primary-achievements") { %> 
                <li class="active"><a href="primary-achievements">Achievements</a></li>	
              <% } else {%>
                <li><a href="primary-achievements">Achievements</a></li>
              <% } %>	
                
              <% if (act_state === "primary-creative-corner") { %> 
                <li class="active"><a href="primary-creative-corner">Creative Corner</a></li>	
              <% } else {%>
                <li><a href="primary-creative-corner">Creative Corner</a></li>
              <% } %>

              <% if (act_state === "primary-parent-portal") { %> 
                <li class="active"><a href="primary-parent-portal">Parent Portal</a></li>	
              <% } else {%>
                <li><a href="primary-parent-portal">Parent Portal</a></li>
              <% } %>
              
            </ul>
          </div>
        </div> 
        </nav>