<% include partials/header %>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<% for(var i=0; i < images.length; i++) { %>
				 <% if(i == 0){ %>	
					<div class="item active">
						<img src="<%=images[i].banner_image%>" alt="Los Angeles">
					</div>
				 <% }else{ %>
					<div class="item">
						<img src="<%=images[i].banner_image%>" alt="New york">
					</div>
				<% } } %>
		</div>
	
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		  <span class="sr-only">Next</span>
		</a>
</div>

<div class="vgs-main-body">
	<div class="container ">
		<form action="/action_page.php">
		 
		 <h3 class="text-center">Enquiry Form</h3>
		 <div class="vgs-form-widget">
			 <div class="row">
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="academic_year">Academic Year:</label>
					  <select class="form-control year" name="academic_year" id="academic_year">
												
					  </select>
					</div>
				 </div>
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="category">Category:</label>
					  <select class="form-control" id="category" name="category">
						<option value="">Please select Category</option>
						<option value="Vasavi Iris">Vasavi Iris</option>
						<option value="Vasavi Primary">Vasavi Primary</option>
						<option value="Vasavi High School">Vasavi High School</option>
						<option value="Vasavi Icon">Vasavi Icon</option>
					  </select>
					</div>
				 </div>	
			 </div>	
		 </div>
		 <h3 class="text-center">Student Details</h3>	
		 <div class="vgs-form-widget">
			 <div class="row">
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="stu_name">Name:</label>
					  <input type="text" class="form-control" id="stu_name" placeholder="Please enter Student Name" name="stu_name">
					</div>
				 </div>
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="stu_class">Class:</label>
					  <input type="text" class="form-control" id="stu_class" placeholder="Enter Class Name" name="stu_class">
					</div>
				 </div>	
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="aadhar_no">Aadhar No:</label>
					  <input type="text" class="form-control" id="aadhar_no" placeholder="Please enter Aadhar No" name="aadhar_no">
					</div>
				 </div>
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="prev_school">Previous School:</label>
					  <input type="text" class="form-control" id="prev_school" placeholder="Enter previous School" name="prev_school">
					</div>
				 </div>
			</div>
		</div>	

		<h3 class="text-center">Parent Details</h3>
		<div class="vgs-form-widget">
			 <div class="row">	 
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="mother_name">Mother Name:</label>
					  <input type="text" class="form-control" id="mother_name" placeholder="Please enter Mother Name" name="mother_name">
					</div>
				 </div>
				  <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="stu_name">Father Name:</label>
					  <input type="text" class="form-control" id="stu_name" placeholder="Please enter Father Name" name="stu_name">
					</div>
				 </div>
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="email_id">Email ID:</label>
					  <input type="text" class="form-control" id="email_id" placeholder="Enter Email ID" name="email_id">
					</div>
				 </div>	
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="mob_no">Mobile No:</label>
					  <input type="text" class="form-control" id="mob_no" placeholder="Please enter Mobile No" name="mob_no">
					</div>
				 </div>
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="mother_profession">Mother Profession:</label>
					  <input type="text" class="form-control" id="mother_profession" placeholder="Enter Mother profession" name="mother_profession">
					</div>
				 </div>
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="father_profession">Father Profession:</label>
					  <input type="text" class="form-control" id="father_profession" placeholder="Enter Mother profession" name="father_profession">
					</div>
				 </div>
			</div>
		</div>
		 <h3 class="text-center">Address</h3>	
		 <div class="vgs-form-widget">
			 <div class="row">	
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="country">Country:</label>
					  <input type="text" class="form-control" id="country" placeholder="Please enter Country" name="country">
					</div>
				 </div>
				  <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="state">State:</label>
					  <input type="text" class="form-control" id="state" placeholder="Please enter Father Name" name="state">
					</div>
				 </div>
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="email_id">City:</label>
					  <input type="text" class="form-control" id="email_id" placeholder="Enter Email ID" name="email_id">
					</div>
				 </div>	
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="mob_no">Pin Code:</label>
					  <input type="text" class="form-control" id="mob_no" placeholder="Please enter Mobile No" name="mob_no">
					</div>
				 </div>
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="mother_profession">Address1:</label>
					  <input type="text" class="form-control" id="mother_profession" placeholder="Enter Mother profession" name="mother_profession">
					</div>
				 </div>
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="father_profession">Address2:</label>
					  <input type="text" class="form-control" id="father_profession" placeholder="Enter Mother profession" name="father_profession">
					</div>
				 </div>	
			</div>	
		</div>	
		<div class="row" style="padding:20px 0px;">
			<div class="col-sm-12">
				<div class="form-group">
					<button type="submit" class="btn btn-default pull-right btn-large" id="">Submit</button>
				</div>
			</div>
		</div>
		</form>
	</div>
</div>
<% include partials/footer %>