<% include partials/header %>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<% for(var i=0; i < images.length; i++) { %>
				 <% if(i == 0){ %>	
					<div class="item active">
						<img src="<%=images[i].banner_image%>" alt="Los Angeles">
					</div>
				 <% }else{ %>
					<div class="item">
						<img src="<%=images[i].banner_image%>" alt="New york">
					</div>
				<% } } %>
		</div>
	
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		  <span class="sr-only">Next</span>
		</a>
</div>

<div class="vgs-main-about-body">
	<div class="container ">
		<form action="" enctype="multipart/form-data">
		 
		 <h3 class="text-center" style="padding-bottom:20px;">Apply for Job</h3>	
		 <div class="vgs-form-widget">
			 <div class="row">
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="app_name">Applicant Name:</label>
					  <input type="text" class="form-control" id="app_name" placeholder="Please enter your Name" name="app_name">
					</div>
				 </div>
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="qual">Qualification:</label>
					  <input type="text" class="form-control" id="qual" placeholder="Enter qualification" name="qual">
					</div>
				 </div>	
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="cur_work">Currently working for:</label>
					  <input type="text" class="form-control" id="cur_work" placeholder="Please enter your current work" name="cur_work">
					</div>
				 </div>
				<div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="category">Apply for:</label>
					  <select class="form-control" id="category" name="category">
						<option value="">--Please select--</option>
						<option value="administation">Administration</option>
						<option value="teaching">Teaching</option>
						<option value="non-teaching">non-Teaching</option>
					  </select>
					</div>
				 </div>	
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="time_period">Time Period:</label>
					  <input type="text" class="form-control" id="time_period" placeholder="Please enter your current work" name="time_period">
					</div>
				 </div>
				  <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="subject">Subject:</label>
					  <input type="text" class="form-control" id="subject" placeholder="Please enter your Subject" name="subject">
					</div>
				 </div>
				  <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="prev_work">Previously Working FOr:</label>
					  <input type="text" class="form-control" id="prev_work" placeholder="Please enter your previous work" name="prev_work">
					</div>
				 </div> 
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="time_period">Experience:</label>
					  <input type="text" class="form-control" id="time_period" placeholder="Please enter your time period" name="time_period">
					</div>
				 </div>
				
				 <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="age">Age:</label>
					  <input type="text" class="form-control" id="age" placeholder="Please enter your time period" name="age">
					</div>
				 </div>
				  <div class="col-sm-6 col-xs-12">
					<div class="form-group">
					  <label for="time_period">Gender:</label>
						<label class="radio-inline">
						  <input type="radio" name="gender" value="male">Male
						</label>
						<label class="radio-inline">
						  <input type="radio" name="gender" value="female">Female
						</label>
					</div>
				 </div>	
				  <div class="col-sm-6 col-xs-12">
					<div class="form-group">
						<label for="file">Choose file to upload</label>
						<input type="file" id="file" name="file" multiple>
					</div>
				 </div>
			</div>
		</div>	

		<div class="row" style="padding:20px 0px;">
			<div class="col-sm-12">
				<div class="form-group">
					<button type="submit" class="btn btn-default pull-right btn-large" id="">Submit</button>
				</div>
			</div>
		</div>
		</form>
	</div>
</div>

<% include partials/footer %>


