<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 vgs-quick-links" >
			  <li><a href="#" target="_blank">Careers</a></li>
			  <li><a href="#" target="_blank">Enquiry</a></li>
			  <li><a href="#" target="_blank">Resources</a></li>
			  <li><a href="#" target="_blank">Reach Us</a></li>
			</div>	
			<div class="col-sm-3 vgs-follow">
				<li>Follow Us On:</li>
				<li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
			</div>
			<div class="col-sm-3 vgs-site-visitors">
				
			</div>
		</div>	
	</div>	
</div>

<script src="assets/js/main.js"></script>
</body>
</html>