<% include partials/header %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<% for(var i=0; i < images.length; i++) { %>
				 <% if(i == 0){ %>	
					<div class="item active">
						<img src="<%=images[i].banner_image%>" alt="Los Angeles">
					</div>
				 <% }else{ %>
					<div class="item">
						<img src="<%=images[i].banner_image%>" alt="New york">
					</div>
				<% } } %>
		</div>
	
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		  <span class="sr-only">Next</span>
		</a>
</div>

<div class="vgs-main-body">
	<div class="container ">

			<div class="col-lg-3 col-md-4 col-xs-6 gallery_item">
				<a href='../assets/images/Vasavi_logo.jpg' class="d-block mb-4 h-100" data-fancybox="images">
				<img class="img-fluid" style=" width: 100%;height: 250px;background-image: url('../assets/images/Vasavi_logo.jpg');background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;" >
				</a>
				<p class="text-center">Untitled Album</p>
			</div>
			<div style="visibility:hidden;">
				<a href='../assets/images/IMG_0838.jpg' class="d-block mb-4 h-100" data-fancybox="images"></a>
				<a href='../assets/images/IMG_1142.jpg' class="d-block mb-4 h-100" data-fancybox="images"></a>
			</div>

			<div class="col-lg-3 col-md-4 col-xs-6 gallery_item">
				<a href='../assets/images/IMG_9156.jpg' class="d-block mb-4 h-100" data-fancybox="images1">
				<img class="img-fluid" style=" width: 100%;height: 250px;background-image: url('../assets/images/IMG_9156.jpg');background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;" >
				</a>
				<p class="text-center">Untitled Album</p>
			</div>
			<div style="visibility:hidden;">
				<a href='../assets/images/IMG_9653.jpg' class="d-block mb-4 h-100" data-fancybox="images1"></a>
				<a href='../assets/images/IMG_6022.jpg' class="d-block mb-4 h-100" data-fancybox="images1"></a>
			</div>

			<div class="col-lg-3 col-md-4 col-xs-6 gallery_item">
				<a href='../assets/images/IMG_0846.jpg' class="d-block mb-4 h-100" data-fancybox="images2">
				<img class="img-fluid" style=" width: 100%;height: 250px;background-image: url('../assets/images/IMG_0846.jpg');background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;" >
				</a>
				<p class="text-center">Untitled Album</p>
			</div>
			<div style="visibility:hidden;">
				<a href='../assets/images/IMG_9653.jpg' class="d-block mb-4 h-100" data-fancybox="images2"></a>
				<a href='../assets/images/IMG_6022.jpg' class="d-block mb-4 h-100" data-fancybox="images2"></a>
			</div>
					
			<div class="col-lg-3 col-md-4 col-xs-6 gallery_item">
				<a href='../assets/images/IMG_8758.jpg' class="d-block mb-4 h-100" data-fancybox="images3">
				<img class="img-fluid" style=" width: 100%;height: 250px;background-image: url('../assets/images/IMG_8758.jpg');background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;" >
				</a>
				<p class="text-center">Untitled Album</p>
			</div>
			<div style="visibility:hidden;">
				<a href='../assets/images/IMG_9653.jpg' class="d-block mb-4 h-100" data-fancybox="images3"></a>
				<a href='../assets/images/IMG_6022.jpg' class="d-block mb-4 h-100" data-fancybox="images3"></a>
			</div>	
			
			<div class="col-lg-3 col-md-4 col-xs-6 gallery_item">
				<a href='../assets/images/IMG_4818.jpg' class="d-block mb-4 h-100" data-fancybox="images4">
				<img class="img-fluid" style=" width: 100%;height: 250px;background-image: url('../assets/images/IMG_4818.jpg');background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;" >
				</a>
				<p class="text-center">Untitled Album</p>
			</div>
			<div style="visibility:hidden;">
				<a href='../assets/images/IMG_9653.jpg' class="d-block mb-4 h-100" data-fancybox="images4"></a>
				<a href='../assets/images/IMG_6022.jpg' class="d-block mb-4 h-100" data-fancybox="images4"></a>
			</div>

			<div class="col-lg-3 col-md-4 col-xs-6 gallery_item">
				<a href='../assets/images/DSC_6069.jpg' class="d-block mb-4 h-100" data-fancybox="images5">
				<img class="img-fluid" style=" width: 100%;height: 250px;background-image: url('../assets/images/DSC_6069.jpg');background-size: cover;background-repeat: no-repeat;background-position: 50% 50%;" >
				</a>
				<p class="text-center">Untitled Album</p>
			</div>
			<div style="visibility:hidden;">
				<a href='../assets/images/IMG_9653.jpg' class="d-block mb-4 h-100" data-fancybox="images5"></a>
				<a href='../assets/images/IMG_6022.jpg' class="d-block mb-4 h-100" data-fancybox="images5"></a>
			</div>		
			
			
			</div>
			
	</div>
</div>
<% include partials/footer %>