<!DOCTYPE html>
<html lang="en">
<head>
	<title>Vasavi Official website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/simple-line-icons.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400|Lato:400" type="text/css"> <!-- Google Fonts used-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> <!-- Google Roboto Fonts used-->
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<link href="/assets/css/styles.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="vgs-top-header">
	<div class="container ">
		<div class="row ">
			<div class="col-sm-2 col-xs-2">
				<div class="pull-left" style="padding-top:8px">
					<img src="/assets/images/Vasavi_logo.jpg" class="img-responsive img-circle" width="50%" alt="vasavi logo">
				</div>
			</div>
			<div class="col-sm-8 col-xs-8">
				<h1>VASAVI GROUP OF SCHOOLS</h1>
				<p>Nirmal, Telangana, India, 504106</p>
			</div>
			<div class="col-sm-2 col-xs-2">
				<div class="" style="padding-top:8px">
					<img src="/assets/images/vasavi_school_logo.jpg" class="img-responsive pull-right img-circle" width="50%" alt="vasavi logo">
				</div>
			</div>
		</div>
	</div>	
</div>
<nav class="navbar navbar-inverse navbar ">
<div class="container">
  <div class="navbar-header">
    
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <!--<span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>-->
	  Menu
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
	  <li><a href="admission.html">Admission</a></li>
	  <li><a href="academicprograms.html">Academic Programs</a></li>
	  <li><a href="gallery.html">Gallery</a></li>
	  <li><a href="resources.html">Resources</a></li>
      <li><a href="careers.html">Careers</a></li> 
      <li><a href="Aboutus.html">About us</a></li> 
	  <li><a href="login.html">Login</a></li>
	</ul>
	
	<form class="navbar-form vgs-pull-right" action="">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
	  <span style="display:none;">
		<button type="submit" class="btn btn-default">Submit</button>
	  </span>
    </form>
	</div>
	<div class="container" id="flash-msg">
		<!-- Flash messages -->
	<% if(error && error.length > 0){ %>
		<div class="alert alert-danger alert-dismissable" role="alert">
			<%= error %>
			<a href="#" class="close" data-dismiss="alert" title="close">×</a>
		</div>
	<% } %>
	<% if(success && success.length > 0){ %>
		<div class="alert alert-success alert-dismissable" role="alert">
			<%= success %>
			<a href="#" class="close" data-dismiss="alert" title="close">×</a>
		</div>
	<% } %>
</div>   
</div> 
</nav>