<% include partials/header %>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<% for(var i=0; i < images.length; i++) { %>
				 <% if(i == 0){ %>	
					<div class="item active">
						<img src="<%=images[i].banner_image%>" alt="Los Angeles">
					</div>
				 <% }else{ %>
					<div class="item">
						<img src="<%=images[i].banner_image%>" alt="New york">
					</div>
				<% } } %>
		</div>
	
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		  <span class="sr-only">Next</span>
		</a>
</div>

<div style="padding:20px 0px;">
		<% include partials/highschool-nav %>
</div>

<div style="padding:20px 0px 40px;">
	<div class="container">
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="parent-edu">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-bullseye" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Parent Education
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-parent-edu" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="child-care">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Career Guidance
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-child-care" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="online-pay">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Online Payment
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-online-pay" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		
	</div>
</div>

<script>
		$(function () {
					$('#parent-edu').on('click', function () {
							$('#vgs-parent-edu').slideToggle();
					});
				$('#child-care').on('click', function () {
							$('#vgs-child-care').slideToggle();
					});
				$('#online-pay').on('click', function () {
							$('#vgs-online-pay').slideToggle();
					});
			});
		</script>
<% include partials/footer %>