<% include partials/header %>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<% for(var i=0; i < images.length; i++) { %>
				 <% if(i == 0){ %>	
					<div class="item active">
						<img src="<%=images[i].banner_image%>" alt="Los Angeles">
					</div>
				 <% }else{ %>
					<div class="item">
						<img src="<%=images[i].banner_image%>" alt="New york">
					</div>
				<% } } %>
		</div>
	
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		  <span class="sr-only">Next</span>
		</a>
</div>

<div style="padding:20px 0px;">
		<% include partials/icon-nav %>
</div>

<div style="padding:20px 0px 40px;">
	<div class="container">
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="inner-house-comp">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-bullseye" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Inner House Competitions
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-inner-house-comp" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="creative-corner">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Creative Corner
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-creative-corner" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="sports">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Sports
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-sports" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="music-dance">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Dance
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-music-dance" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="com-serv">
				<div class="col-sm-12">
				<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-tripadvisor" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Community Services
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-com-serv" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="exp-drives">
				<div class="col-sm-12">
				<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-tripadvisor" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Expidition Drives
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-exp-drives" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="guest-talks">
				<div class="col-sm-12">
				<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-tripadvisor" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Guest Talks
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-guest-talks" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="edutainement">
				<div class="col-sm-12">
				<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-tripadvisor" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Edutainement
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-edutainement" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="sch-parl-com">
				<div class="col-sm-12">
				<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-tripadvisor" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						School Parliment Committee
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-sch-parl-com" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>

<script>
		$(function () {
				$('#inner-house-comp').on('click', function () {
					$('#vgs-inner-house-comp').slideToggle();
				});
				$('#creative-corner').on('click', function () {
					$('#vgs-creative-corner').slideToggle();
				});
				$('#sports').on('click', function () {
					$('#vgs-sports').slideToggle();
				});
				//music-dance
				$('#music-dance').on('click', function () {
					$('#vgs-music-dance').slideToggle();
				});
				$('#com-serv').on('click', function () {
					$('#vgs-com-serv').slideToggle();
				});
				//exp-drives
				$('#exp-drives').on('click', function () {
					$('#vgs-exp-drives').slideToggle();
				});
				//guest-talks
				$('#guest-talks').on('click', function () {
					$('#vgs-guest-talks').slideToggle();
				});
				//edutainement
				$('#edutainement').on('click', function () {
					$('#vgs-edutainement').slideToggle();
				});
				//sch-parl-com
				$('#sch-parl-com').on('click', function () {
					$('#vgs-sch-parl-com').slideToggle();
				});
			});
		</script>

<% include partials/footer %>
