<% include partials/header %>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
			<% for(var i=0; i < images.length; i++) { %>
			 <% if(i == 0){ %>	
				<div class="item active">
					<img src="<%=images[i].banner_image%>" alt="Los Angeles">
				</div>
			 <% }else{ %>
				<div class="item">
					<img src="<%=images[i].banner_image%>" alt="New york">
				</div>
			<% } } %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<div class="vgs-main-body">
	<div class="container ">
		
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
			<div class="hovereffect">
					<img class="img-responsive" src="assets/images/IMG_1142.JPG" alt="">
						<div class="overlay">
							<h2>VASAVI Iris</h2>
							<p>
								<a href="iris-home">Click here</a>
							</p>
						</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="hovereffect">
					<img class="img-responsive" src="assets/images/IMG_8758.JPG" alt="">
						<div class="overlay">
							<h2>VASAVI Primary</h2>
							<p>
								<a href="primary-home">Click here</a>
							</p>
						</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="hovereffect">
					<img class="img-responsive" src="assets/images/IMG_0838.JPG" alt="">
						<div class="overlay">
							<h2>VASAVI Highschool</h2>
							<p>
								<a href="highschool-home">Click here</a>
							</p>
						</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="hovereffect">
					<img class="img-responsive" src="assets/images/IMG_4818.JPG" alt="">
						<div class="overlay">
							<h2>VASAVI Icon</h2>
							<p>
								<a href="icon-home">Click here</a>
							</p>
						</div>
				</div>	
			</div>
			
	</div>
</div>



<% include partials/footer %>
