<% include partials/header %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<% for(var i=0; i < images.length; i++) { %>
				 <% if(i == 0){ %>	
					<div class="item active">
						<img src="<%=images[i].banner_image%>" alt="Los Angeles">
					</div>
				 <% }else{ %>
					<div class="item">
						<img src="<%=images[i].banner_image%>" alt="New york">
					</div>
				<% } } %>
		</div>
	
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		  <span class="sr-only">Next</span>
		</a>
</div>
<div style="padding:20px 0px;">
		<% include partials/iris-nav %>
</div>

<div style="padding:20px 0px 40px;">
	<div class="container">
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="our-campus">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-bullseye" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Our Campus
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-our-campus" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="academic-facilities">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Academic Facilities
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-academic-facilities" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="sports-facilities">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Sports Facilities
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-sports-facilities" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="activity-hall">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Auditorium
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-activity-hall" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="trans-facilities">
				<div class="col-sm-12">
				<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-tripadvisor" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Transportation Facilities
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-trans-facilities" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="med-fac">
				<div class="col-sm-12">
				<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-tripadvisor" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Medical Facility
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-med-fac" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
	</div>
</div>

<script>
$(function () {
	    $('#our-campus').on('click', function () {
	        $('#vgs-our-campus').slideToggle();
	    });
		$('#academic-facilities').on('click', function () {
	        $('#vgs-academic-facilities').slideToggle();
	    });
		$('#sports-facilities').on('click', function () {
	        $('#vgs-sports-facilities').slideToggle();
	    });
		//activity-hall
		$('#activity-hall').on('click', function () {
	        $('#vgs-activity-hall').slideToggle();
	    });
		$('#trans-facilities').on('click', function () {
	        $('#vgs-trans-facilities').slideToggle();
	    });
		//dorm-dng
		$('#dorm-dng').on('click', function () {
	        $('#vgs-dorm-dng').slideToggle();
	    });
		//med-fac
		$('#med-fac').on('click', function () {
	        $('#vgs-med-fac').slideToggle();
	    });
	});
</script>
<% include partials/footer %>