<% include partials/header %>
<!-- <div id="bg_studio" class="text-center">
	<h1 style="padding-top:100px;" >Vasavi Iris</h1>
	<p>Home</p>
</div> -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<% for(var i=0; i < images.length; i++) { %>
				 <% if(i == 0){ %>	
					<div class="item active">
						<img src="<%=images[i].banner_image%>" alt="Los Angeles">
					</div>
				 <% }else{ %>
					<div class="item">
						<img src="<%=images[i].banner_image%>" alt="New york">
					</div>
				<% } } %>
		</div>
	
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		  <span class="sr-only">Next</span>
		</a>
</div>

<div style="padding:20px 0px;">

<% include partials/iris-nav %>
<% include partials/about %>

</div>
<% include partials/footer %>
