<% include partials/header %>

<div class="container" style="padding:40px 0px;">
    	<!-- <div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="#" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" action="#" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->


		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#login">Login</a></li>
			<li><a data-toggle="tab" href="#register">Register</a></li>
		  </ul>
		
		  <div class="tab-content">
			<div id="login" class="tab-pane fade in active">
			  
				<form id="login-form" action="/login" method="post" role="form">
					<div class="form-group">
						<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
					</div>
					<div class="form-group">
						<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
					</div>
					<div class="form-group text-center">
						<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
						<label for="remember"> Remember Me</label>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-lg-12">
								<div class="text-center">
									<a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
								</div>
							</div>
						</div>
					</div>
				</form>
				
			</div>
			<div id="register" class="tab-pane fade">
			  
				<form id="register-form" action="/signup" method="post" role="form">
					<div class="form-group">
						<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
					</div>
					<div class="form-group">
						<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
					</div>
					<div class="form-group">
						<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
					</div>
					<div class="form-group">
						<input type="password" name="cpassword" id="cpassword" tabindex="2" class="form-control" placeholder="Confirm Password">
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
							</div>
						</div>
					</div>
				</form>

			</div>
		  </div>

	</div>

	<% include partials/footer %>
