<% include partials/header %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<% for(var i=0; i < images.length; i++) { %>
				 <% if(i == 0){ %>	
					<div class="item active">
						<img src="<%=images[i].banner_image%>" alt="Los Angeles">
					</div>
				 <% }else{ %>
					<div class="item">
						<img src="<%=images[i].banner_image%>" alt="New york">
					</div>
				<% } } %>
		</div>
	
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		  <span class="sr-only">Next</span>
		</a>
</div>

<div style="padding:20px 0px;">
		<% include partials/primary-nav %>
</div>

<div style="padding:20px 0px 40px;">
	<div class="container">
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="awards">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-bullseye" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Awards
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-awards" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		<div class="vgs-school-toggle-widgets">
			<div class="row vgs-hide" id="academics">
				<div class="col-sm-12">
					<div class="vgs-widget-image">
						<span class="vgs-widget-image-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
					</div>
					<div class="vgs-widget-heading">
						Academics
					</div>
				</div>	
			</div>	
			<div class="row">
				<div class="col-sm-12">
					<div class="vgs-school-hidden-data" id="vgs-academics" style="display:none;">
						The Core Knowledge Sequence UK is a guideline of the fundamental skills and content to cover in English, maths, history and geography, science, music and visual arts.
					</div>
				</div>
			
			</div>
		</div>
		
	</div>
</div>

<script>
		$(function () {
					$('#awards').on('click', function () {
							$('#vgs-awards').slideToggle();
					});
				$('#academics').on('click', function () {
							$('#vgs-academics').slideToggle();
					});
				
			});
		</script>

<% include partials/footer %>

