<% include partials/header %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
	
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
				<% for(var i=0; i < images.length; i++) { %>
				 <% if(i == 0){ %>	
					<div class="item active">
						<img src="<%=images[i].banner_image%>" alt="Los Angeles">
					</div>
				 <% }else{ %>
					<div class="item">
						<img src="<%=images[i].banner_image%>" alt="New york">
					</div>
				<% } } %>
		</div>
	
		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right"></span>
		  <span class="sr-only">Next</span>
		</a>
</div>

<div class="vgs-main-body">
	<div class="container ">
        <div class="row">
            <div class="col-sm-6 c0l-xs-12">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="vgs-reachus-widget">
                            <div class="">
                                <img src="assets/images/vasavi_school_logo.jpg" class="img-responsive image-center img-circle" width="15%" alt="vasavi logo">
                            </div>    
                                <h4>Vasavi High School</h4>
                                <p>Divya Nagar, Nirmal,Telangana, 504106</p>
                                <p><span><i class="fa fa-phone"></i></span> +91-8466952222, +91-8466962222, +91-9908099724</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="vgs-reachus-widget">
                                <div class="">
                                    <img src="assets/images/vasavi_school_logo.jpg" class="img-responsive image-center img-circle" width="15%" alt="vasavi logo">
                                </div>    
                                    <h4>Vasavi Icon</h4>
                                    <p>Shanthi Nagar X-Road, Nirmal,Telangana, 504106</p>
                                    <p><span><i class="fa fa-phone"></i></span> +91-8466952222, +91-9908099724</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="vgs-reachus-widget">
                                    <div class="">
                                        <img src="assets/images/vasavi_school_logo.jpg" class="img-responsive image-center img-circle" width="15%" alt="vasavi logo">
                                    </div>    
                                        <h4>Vasavi Iris Florets</h4>
                                        <p>A N Reddy Colony, Nirmal,Telangana, 504106</p>
                                        <p><span><i class="fa fa-phone"></i></span> +91-8466952222</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="vgs-reachus-widget">
                                        <div class="">
                                            <img src="assets/images/vasavi_school_logo.jpg" class="img-responsive image-center img-circle" width="15%" alt="vasavi logo">
                                        </div>    
                                            <h4>Vasavi Primary School</h4>
                                            <p>A N Reddy Colony, Nirmal,Telangana, 504106</p>
                                            <p><span><i class="fa fa-phone"></i></span> +91-8466952222, +91-8466962222, +91-9908099724</p>
                                    </div>
                                </div>
                            </div>

            </div>
            <div class="col-sm-6 c0l-xs-12">
                    <div class="hidden-lg hidden-md hidden-sm visible-xs">
                            <div class="vgs-reachus-widget">
                                    <h2>Got a Query?</h2>
                                    <form>
                                    <div class="form-group">
                                        <label for="stu_name">Name:</label>
                                        <input type="text" class="form-control" id="stu_name" placeholder="Please enter Student Name" name="stu_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="Please enter your Email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile">Mobile:</label>
                                        <input type="text" class="form-control" id="mobile" placeholder="Please enter Mobile Number" name="mobile">
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Query:</label>
                                        <textarea class="form-control" rows="3" id="query"></textarea>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-default btn-large" id="">Submit</button>
                                    </div>
                                    </form>
                                </div>  
                    </div>
                    <div class="visible-lg visible-md visible-sm hidden-xs">
                        <div class="follow-scroll">
                            <div class="vgs-reachus-widget">
                                    <h2>Got a Query?</h2>
                                    <form>
                                    <div class="form-group">
                                        <label for="stu_name">Name:</label>
                                        <input type="text" class="form-control" id="stu_name" placeholder="Please enter Student Name" name="stu_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="Please enter your Email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile">Mobile:</label>
                                        <input type="text" class="form-control" id="mobile" placeholder="Please enter Mobile Number" name="mobile">
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Query:</label>
                                        <textarea class="form-control" rows="3" id="query"></textarea>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-default btn-large" id="">Submit</button>
                                    </div>
                                    </form>
                                </div>
                            </div>      
                    </div>      
            </div>
        </div>
        
	</div>
</div>
<% include partials/footer %>