html, body {

    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;*/
	font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
	background-color:#f5f5f5 !important;
  
}

a {
  
  text-decoration: none !important;
}

a:hover, a:visited,a:focus, a:active
{
 outline: 0 !important;
}

/**************** *****    Main header(START)  ******************************/

.vgs-top-header{
color:#EE3c39;
background-color:#ffcc02;
}

@font-face {
  font-family: 'RevueBT';
  src: url('../fonts/RevueBT.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/RevueBT.ttf')  format('truetype'), /* Safari, Android, iOS */
      
}

.vgs-top-header h1{
	font-weight:500;
	text-align:center;
	font-size:28px;
	font-family:RevueBT !important;
}  
.vgs-top-header p{
	font-weight:200;
	font-size: 20px;
	text-align:center;
	font-family:RevueBT !important;
}  

@media (max-width: 767px){
.vgs-top-header h1{
	font-size:22px;
}  
.vgs-top-header p{
	font-size: 16px;
}  
}

/**************** *****    Main header(END)  ******************************/

/******************  Home nav bar(start)  *************************/
.navbar {
    border-radius: 0px !important;
}

@media (min-width: 1200px){
.container {
    width: 1170px !important;
}
}
@media (min-width: 992px){
.container {
    width: 1170px !important;
}
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ccc !important;
}
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
	.container{
		
	}
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.navbar-inverse {
    background-color: #fff !important;
    border:none !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: #EE3c39 !important;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #111 !important;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #555 !important;
    font-weight: 600;
    font-size: 15px;
}
.navbar-toggle:hover, .navbar-toggle:focus{
	color:#fff;
	background-color:#333;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 15px !important;
}
@media (min-width: 992px){
.vgs-pull-right{
	float: right!important;
}
}
@media (max-width: 991px){
.vgs-pull-right{
	float: left!important;
}
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
}
/******************* fixing nav(Start) ***********************/
#header-wrap {
    width: 100%;
    top: 0;
    position:relative;
}
#header-2{
    background: #eeeeff;
    width: 100%;
    z-index: 9999 !important;
    box-shadow: 0px 0px 7px 0px rgba(50,50,50,0.2);
    border-radius: 0px 0px 0px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid solid solid solid;
    border-color: rgba(204,204,204,1) rgba(204,204,204,1) rgba(204,204,204,1) rgba(204,204,204,1);
}

.posi{
    position:fixed !important;
    margin-top: 0 !important;
    top:0;
    border:1px solid #ccc;
}
/******************* fixing nav(End) ***********************/
/******************  Home nav bar(end)  *************************/

/******************  Banner Image(START)  *************************/

.vgs-all-schools-widgets{
	
	background-color:#fff; border:1px solid #ccc;
	height:200px;
	margin-bottom:20px;
}

.vgs-iris{
	
    background: url('iris.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:100%;
    color:#fff;
	background-color:#faf8f5;
    height: 200px;
	margin: 0 auto; 
	
}


.vgs-profile1{
	
    background: url('Chukka_Ramaiah_sir.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:100%;
    color:#fff;
	background-color:#faf8f5;
    height: 200px;
	margin: 0 auto; 
	
}

.vgs-profile2{
	
    background: url('Linga_Reddy_Patron.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:100%;
    color:#fff;
	background-color:#faf8f5;
    height: 200px;
	margin: 0 auto; 
	
}


.vgs-profile3{
	
    background: url('Jagadish_Reddy.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:100%;
    color:#fff;
	background-color:#faf8f5;
    height: 200px;
	margin: 0 auto; 
	
}


.vgs-profile4{
	
    background: url('Potha_Reddy.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:100%;
    color:#fff;
	background-color:#faf8f5;
    height: 200px;
	margin: 0 auto; 
	
}


.vgs-iris-text{
	padding:5px;text-align:center;color:#EE3c39;background-color:#ffcc02;
}

/******************  Banner Image(END)  *************************/

/****************** Main Body(START) *********************/
.vgs-main-body{
	padding:60px 0px 40px;
}
.vgs-form-widget{
	padding:10px; background-color:#fff;border:1px solid #ccc;border-radius:3px;
}
.vgs-main-about-body{
	padding:20px 0px;
}
.vgs-aboutus-content{
	padding:20px 0px;
}
/********************* login form(Start) *********************/

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0 !important;
	outline: none;
	color: #fff !important;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6 !important;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E !important;
	outline: none;
	color: #fff !important;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A !important;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
/********************* login form(End) *********************/

/********************* Primary School(START) *********************/


@media (max-width: 1200px) {
   
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse1 {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
   
    .navbar-collapse1.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
}
@media (min-width: 768px) {
.navbar-inner {
    background-color: transparent !important;
    border-color: none !important;
}
}
@media (max-width: 767px) {
.navbar-inner {
    background-color: #ededed !important;
    border-color: none !important;
}

.navbar-toggle:hover, .navbar-toggle:focus{
	color:#fff;
	background-color:#333;
}

.navbar-inner .navbar-toggle {
    background-color: #fff !important;
    border:1px solid #333 !important;
    color:#333 !important;
}

}
.navbar-inner .navbar-nav>.active>a, .navbar-inner .navbar-nav>.active>a:focus, .navbar-inner .navbar-nav>.active>a:hover {
    color: #EE3c39 !important;
	border-bottom:3px solid #EE3c39 !important;
}

.navbar-inner .navbar-nav>li>a:focus, .navbar-inner .navbar-nav>li>a:hover {
    color: #111 !important;
    background-color: transparent;
}

.navbar-inner .navbar-nav>li>a {
    color: #777 !important;
    font-weight: 500;
    font-size: 14px;
}

.vgs-school-toggle-widgets{
padding:0px 20px;border:1px solid #ccc;background-color:#fff;
margin-bottom:20px;
border-radius:3px;
}
.vgs-school-hidden-data{
	border-top:1px solid #ccc;padding:10px 0px;
}
.vgs-hide{
	padding:10px;
	cursor:pointer;
}
.vgs-widget-image{
	height:50px;width:50px;background-color:#1561a7;border-radius:50%; text-align:center;display:inline-block;
}
.vgs-widget-image-icon{
color:#fff;font-size:30px; position:relative;top: calc(30% - 10px);
}
.vgs-widget-heading{
display:inline-block; padding-left:10px;
}
/********************* Primary School(END) *********************/

/****************** Main Body(END) *********************/

/****************** Footer(START) *********************/
.footer{
	padding:5px;
	background-color:#555;
}

.footer li {
    display: inline !important;
	list-style:none !important;
}
.footer .vgs-quick-links li  a {
	color:#fff;
	padding:5px 15px;
}
.vgs-quick-links{
	padding-top:0px;
}

.footer .vgs-follow li  a {
	color:#fff;
	font-size:16px;
}

.footer .vgs-follow li{
	color:#fff;
	padding:5px;
}

.last-footer{
	padding:3px;
	color:#EE3c39;
	background-color:#ffcc02;
	text-align:center;
}
/****************** Footer(END) *********************/

/***************** carousel(Start)************************/
.carousel-inner > .item {
  height: 75vh;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 800px;
  width: 100%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
/***************** carousel(End)************************/


/***************** School widget effects(Start) *****************/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #ffcc02;
  margin-bottom:20px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/***************** School widget effects(End) *****************/

/***************** Banner Image(Start) *********************/

#bg_studio{
    background: url('home_toy_subheader.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   width:100%;
     color:#fff;
	background-color:#faf8f5;
    height: 280px;
	 margin: 0 auto;
	 margin-top:-20px;
}

@media screen and (max-width: 50em) {
    #bg_studio {
        width:100%;
     color:#fff;
	background-color:#faf8f5;
    height: 280px;
}
}

@media screen and (max-width: 40em) {
    #bg_studio{
       width:100%;
     color:#fff;
	background-color:#faf8f5;
    height: 270px;
    }
	
}

@media screen and (max-width: 30em) {
    #bg_studio {
        width:100%;
     color:#fff;
	background-color:#faf8f5;
    height: 260px;
    }
	
}
.bg_studio h1{
position: relative;
top: 50%;
transform: translateY(-50%);
}
/***************** Banner Image(End) *********************/


/***************** AboutUs Page(Start) ***********************/
.vgs-aboutus-widget{
	padding:10px; background-color:#fff;border:1px solid #ccc;border-radius:3px; margin-bottom:20px;
}
/***************** AboutUs Page(End) ***********************/

.gallery_item{
    margin-bottom: 20px;
}
/***************** ReachUs(Start) *****************/

.vgs-reachus-widget{
    box-shadow: 2px 2px 2px 2px rgba(50,50,50,0.2);
    border-radius: 0px 0px 0px 0px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: rgba(204,204,204,1) rgba(204,204,204,1) rgba(204,204,204,1) rgba(204,204,204,1);
    background-color: #fff;
    padding:20px;
    margin-bottom: 20px;

}

.image-center{
    margin: 0 auto;
}
.vgs-reachus-widget h2{
    color: #EE3c39 !important;
    text-align: center;
    padding-bottom: 20px;
}
.vgs-reachus-widget button{
    border: 1px solid #EE3c39 !important;
    color:#EE3c39;
}

.vgs-reachus-widget button:hover{
    background-color: #EE3c39 !important;
    color:#fff;
}

/***************** ReachUs(End) *****************/